@charset "utf-8";
/* CSS Document */

/* side Navigation */

.sidebar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  height: auto;
  overflow: auto;	
}

.sidebar a {
  display: block;
  color: white;
  background-color:#E32626;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  border: 0.1px solid #A19E9F;
}
.content {
  margin:5%;
}
/* Rådgivnings side */

.sidebar a.active {
  background-color: #ff5154b8;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Uddannelses side */

#uddannelse a{
	background-color: #547DBD;
	color: #FFFFFF;	
}

#uddannelse a.active{
	background-color: #7a9dd3;
}

/* Forsknings side */
#forskning a{
	background-color: #F5994A;
}

#forskning a.active{
	background-color: #cfa581;
}

/*kontakt info*/
.columns{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		margin: 1% 15%;
		}
	
.header img{
		
		width:200px;
		height:200px
	}
	h3{ background-color: #9b9b9b;
		margin-left: 5%;
	}
	h4{
		
		font-size: 20px;
		text-align: center;
	}
	
	.kontakt-grid p{
		text-align: center;
	}
	
.kontakt-grid{
	background-color: #9b9b9b;
	
	padding: 1%;
	}


@media screen and (min-width: 768px) {
 
.sidebar {
  margin-top: 1%;
  width: 203px;
  height: auto;
  position: absolute;
  background-color: #EFF0F0;
}

.content {
 margin: auto;
  margin-left: 203px;
  margin-right: 2%;
  padding: 1px 16px;
  height: auto;
}
.sidebar a {
  text-align: left;
  float: none;
  
  }
	
	.side1{
		background-color: #eff0f0;
		height: 50vh;
	}
		
	.columns{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 1% 6%;
	}
	
	.header img{
		/*border-radius: 50%;*/
	}
	h3{ background-color: #d5d5d5;
		margin-left: 5%;
	}
	h4{
		
		font-size: 20px;
		text-align: center;
	}
	
	.kontakt-grid p{
		text-align: center;
	}
	
.kontakt-grid{
	background-color: #d5d5d5;
	padding: 1%;
	}
}
















